$border-width: 17px;
$border-width-mobile: 11px;

html, body {
  margin: 0;
  padding: 0;
}

body::before, body::after, html::before, html::after {
  content: '';
  position: fixed;
  background: $mid-grey;
}

body {
  background-color: $pale-pinky-grey;
  padding: $border-width + 20px;
  @media screen and (max-width: 400px) {
    padding: $border-width-mobile + 20px;
  }

  &::before, &::after {
    left: 0;
    right: 0;
    height: $border-width;
    @media screen and (max-width: 400px) {
      height: $border-width-mobile;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

html {
  &::before, &::after {
    top: 0;
    bottom: 0;
    width: $border-width;
    @media screen and (max-width: 400px) {
      width: $border-width-mobile;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
