<html>
<head>
  <title>Hello world</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css" />
<!--   <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">
 -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
</head>
<body>
<h1>Hello world</h1>
<div class="form-group is-empty has-feedback">
  <label for="date" class="col-md-2 control-label required">Date</label>

  <div class="col-md-10">
      <div class="input-group date">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type="date" class="form-control currentdatepicker" name="date" data-fv-field="date" value="2016-09-30" valueasdate="Fri Sep 30 2016 09:50:05 GMT+0100 (BST)" style="line-height: 24px;">
      </div><i class="form-control-feedback fv-bootstrap-icon-input-group" data-fv-icon-for="date" style="display: none;"></i>
      <!--.input-group date-->
  <small class="help-block" data-fv-validator="notEmpty" data-fv-for="date" data-fv-result="NOT_VALIDATED" style="display: none;">This cannot be empty</small><small class="help-block" data-fv-validator="blank" data-fv-for="date" data-fv-result="NOT_VALIDATED" style="display: none;">This value is not valid</small></div>
</div>
</body>
</html>